:root {
    --main-color: #FFFFFF;
    --active-color: #2196F3;
    --contact-color: #757575;
    --text-color: #212121;
    --order-color: #2F303A;
    --logo-color: #000000;
    --projects-color: #F5F4FA;
    --button-hover: #188CE8;
    --icons-color: #AFB1B8;
    --divider-color: #ECECEC;
}